/******************* custom-editor-style.css ONLY Visual Editor Only */


.more-highlight {
	/*color:#9FCF3F;*/
	font-weight: bold;
}

.callout-box-green {
	clear:both;
	display: block;
	margin: 30px 0px;
	padding:30px;
	border: 1px solid #d5d5d5;
	border-left: 5px solid #B8DB70;

}

.callout-box {
	margin: 60px 40px;
	border-top:1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	padding:40px 30px;
}

.callout-box p {
	margin:0;
	padding:0;
}

.clear {
	clear: both;
}

.clear::before {
	content: "[CLEAR]";
	background-color: #cccc00;
	color: #fff;
}

.clear-spacer {
	clear: both;
	height:30px;
}

.clear-spacer::before {
	content: "[CLEAR-SPACER]";
	background-color: #cccc00;
	color: #fff;
}

.clear-line {
	border-bottom: 1px solid #ddd;
	clear: both;
	margin: 0 0 25px;
}

.clear-line::before {
	content: "[CLEAR-LINE]";
	background-color: #cccc00;
	color: #fff;
}

.image-float-left {
	float:left;
	margin:24px 24px 24px 0;
	padding: 3px;
	border: 0px solid #d5d5d5;
	max-width: 40%;
}

.image-float-right {
	float:right;
	margin:24px 0 24px 24px;
	padding: 3px;
	border: 0px solid #d5d5d5;
	max-width: 40%;
}

.image-border {
	padding: 3px;
	border: 1px solid #d5d5d5;
}

.circle-image {
  	-webkit-border-radius: 100%;
    -moz-border-radius: 100%;
	border-radius: 100%;
	background-color: #fff;
	max-width:50%;
	display:block;
	margin:0 auto;
}

.text-block-left,
.text-block-right {	
	
	padding: 20px 10px;
	max-width: 40%;
	display: inline;
}

.text-block-left {
	float:left;
	margin:0 35px 35px 0;
	padding-right:20px;
	border-right: 3px solid #111;
}

.text-block-right {
	float: right;
	margin:0 0 35px 35px;
	padding-left:20px;
	border-left: 3px solid #111;
}

.heading-emphasize {
	padding-left: 20px;
	border-left: 5px solid #ed702b;
}

.sub-heading {
	font-size:0.9rem;
	font-weight: 300;
	font-style: italic;
	margin:0 0 20px;
	padding: 0px;
}

.font-size-24 {
	font-size: 2.4rem;
}

.font-size-36 {
	font-size: 3.6rem;
}

.font-size-48 {
	font-size: 4.8rem;
}


blockquote {
	margin: 60px 40px;
	border-top:1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	padding:40px 30px;
}

blockquote p {
	margin:0;
	padding:0;
}

blockquote .quote-author {
	display: block;
	font-weight: bold;
	margin-top:10px;
}

blockquote::before {
	font-family: "dashicons";
	content: "\f122";
	color:#d5d5d5;
	display: block;
	font-size: 50px;
	height: 0;
	left: -80px;
	position: relative;
	top: -10px;
}